In [1]:
import numpy as np
import pandas as pd
import io

In [4]:
df = pd.read_csv("Iris.csv")

In [6]:
df.shape

(150, 6)

In [7]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [8]:
df.head(20)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa

In [9]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [11]:
df.iloc[20:30]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa

In [12]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [13]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [14]:
df['Species'].replace(['Iris-setosa','Iris-verginicia'],
                      [0,1], inplace=True)

In [17]:
df.head(30)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0    1            5.1           3.5            1.4           0.2       0
1    2            4.9           3.0            1.4           0.2       0
2    3            4.7           3.2            1.3           0.2       0
3    4            4.6           3.1            1.5           0.2       0
4    5            5.0           3.6            1.4           0.2       0
5    6            5.4           3.9            1.7           0.4       0
6    7            4.6           3.4            1.4           0.3       0
7    8            5.0           3.4            1.5           0.2       0
8    9            4.4           2.9            1.4           0.2       0
9   10            4.9           3.1            1.5           0.1       0
10  11            5.4           3.7            1.5           0.2       0
11  12            4.8           3.4            1.6           0.2       0
12  13            4.8           3.0            1.4           0.1       0
13  14            4.3           3.0            1.1           0.1       0
14  15            5.8           4.0            1.2           0.2       0
15  16            5.7           4.4            1.5           0.4       0
16  17            5.4           3.9            1.3           0.4       0
17  18            5.1           3.5            1.4           0.3       0
18  19            5.7           3.8            1.7           0.3       0
19  20            5.1           3.8            1.5           0.3       0
20  21            5.4           3.4            1.7           0.2       0
21  22            5.1           3.7            1.5           0.4       0
22  23            4.6           3.6            1.0           0.2       0
23  24            5.1           3.3            1.7           0.5       0
24  25            4.8           3.4            1.9           0.2       0
25  26            5.0           3.0            1.6           0.2       0
26  27            5.0           3.4            1.6           0.4       0
27  28            5.2           3.5            1.5           0.2       0
28  29            5.2           3.4            1.4           0.2       0
29  30            4.7           3.2            1.6           0.2       0

In [19]:
df['Species'].unique()

array([0, 'Iris-versicolor', 'Iris-virginica'], dtype=object)